* {
    --fx-text-color1: #5c5c5c;
    --fx-text-color2: #9f9f9f;
    --fx-text-color3: #c4c4c4;
    --fx-background-color-1: #ededed;
    --fx-background-and-text: #fffffe;
    --fx-primary-color1: #5059c9;
    --fx-primary-color2: #7b83eb;
    --fx-primary-color3: #a09ef9;
}